<!-- Display all the users bookings -->
<h1>Teachers</h1>

<% @user_bookings.each do |booking| %>
<div class="product">

  <img src="https://avatars2.githubusercontent.com/u/22443485?s=460&v=4" alt="kudoz" class="avatar-large product-image">

  <div class='product-body'>
    <h3>Teacher:</h3>
    <p><%= booking.teacher.full_name %></p>
  </div>

  <div class='product-body'>
    <%  if booking.start_time.present? %>
    <h3>Date:</h3>
    <p><%= booking.start_time.strftime("%d-%b-%Y") %></p>
    <% end %>
  </div>

  <div class='product-body'>
    <%  if booking.start_time.present? %>
    <h3>Start time:</h3>
    <p><%= booking.start_time.strftime("%H:%M") %></p>
    <% end %>
  </div>

  <div class='product-body'>
    <%  if booking.end_time.present? %>
    <h3>End time:</h3>
    <p><%= booking.end_time.strftime("%H:%M") %></p>
    <% end %>
  </div>

  <div class='product-body'>
    <h3>Status:</h3>
    <p><%= booking.status %></p>
    <% if booking.status == "complete" %>
      <p>total price: $<%= ((booking.end_time - booking.start_time) / 3600) * booking.teacher.hourly_price %></p>
      <% end %>
      <%= link_to 'Cancel', cancel_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" %>
      <% if booking.status == "cancelled" || booking.status == "complete" %>
      <!-- Lets leave that out for now -->
      <%#= link_to "Remove", booking_path(booking.id), method: :delete %>
      <br>
      <br>
      <br>
    <% end %>
  </div>

  <div class="product-body">

    <%= link_to 'Cancel', cancel_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" %>
    <% if booking.status == "cancelled" || booking.status == "complete" %>
    <%= link_to "Remove", booking_path(booking.id), method: :delete %>
    <% end %>
  </div>
</div>
<% end %>




<% if @teacher_bookings %>
<h1>Clients</h1>

<% @teacher_bookings.each do |booking|%>
  <div class="product">
    <img src="https://avatars2.githubusercontent.com/u/22443485?s=460&v=4" alt="kudoz" class="avatar-large product-image">
    <div class='product-body'>
      <h3>Student:</h3>
      <p><%= booking.user.first_name %></p>
    </div>
    <div class='product-body'>
      <%  if booking.start_time.present? %>
      <h3>Date:</h3>
      <p><%= booking.start_time.strftime("%d-%b-%Y") %></p>
      <% end %>
    </div>
    <div class='product-body'>
      <%  if booking.start_time.present? %>
      <h3>Start time:</h3>
      <p><%= booking.start_time.strftime("%H:%M") %></p>
      <% end %>
    </div>
    <div class='product-body'>
      <%  if booking.end_time.present? %>
      <h3>End time:</h3>
      <p><%= booking.end_time.strftime("%H:%M") %></p>
      <% end %>
    </div>
    <div class='product-body'>
      <h3>Status:</h3>
      <p><%= booking.status %></p>
    </div>
    <div class='product-body'>
      <div class='product-body'>
        <% if booking.status == "complete" %>
        <% if booking.end_time.present? && booking.start_time.present? %>
        <p>total price: $<%= ((booking.end_time - booking.start_time) / 3600) * booking.teacher.hourly_price %></p>
        <% end %>
        <% end %>
      </div>
      <div class='product-body'>
        <%= link_to 'Approve', approve_booking_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" || booking.status == "approved" %>
      </div>
      <div class='product-body'>
        <%= link_to 'Cancel', cancel_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" %>
      </div>
      <div class='product-body'>
        <%= link_to 'Mark Completed', complete_path(booking), method: :post unless booking.status == "cancelled" || booking.status == "complete" %>
        <% if booking.status == "cancelled" || booking.status == "complete" %>
        <%= link_to "Remove", booking_path(booking.id), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
