<!-- Display all the users bookings -->
<h1><B>MY TEACHERS</B></h1>

  <% @user_bookings.each do |booking| %>
  <p> Price: $<%= booking.teacher.hourly_price %>/hr</p>
  <p> Start Time: <%= booking.start_time %></p>
  <p> End Time: <%= booking.end_time %></p>
  <p>status: <%= booking.status %></p>
    <% if booking.status == "complete" %>
      <p>total price: $<%= ((booking.end_time - booking.start_time) / 3600) * booking.teacher.hourly_price %></p>
      <% end %>
      <%= link_to '<Cancel>', cancel_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" %>
      <% if booking.status == "cancelled" || booking.status == "complete" %>
      <%= link_to "Remove", booking_path(booking.id), method: :delete %>
      <br>
      <br>
      <br>
    <% end %>
  <% end %>




<% if @teacher_bookings %>
  <h1><b>MY CLIENTS</b></h1>

   <% @teacher_bookings.each do |booking|%>
   <p> Start Time: <%= booking.start_time %></p>
   <p> End Time: <%= booking.end_time %> </p>
   <p> User: <%= booking.user_id %></p>
   <p>status: <%= booking.status %></p>
      <% if booking.status == "complete" %>
      <p>total price: $<%= ((booking.end_time - booking.start_time) / 3600) * booking.teacher.hourly_price %></p>
      <% end %>
      <%= link_to '<Approve>', approve_booking_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" || booking.status == "approved" %>
      <%= link_to '<Cancel>', cancel_path(booking), method: :patch unless booking.status == "cancelled" || booking.status == "complete" %>
      <%= link_to '<Mark Completed>', complete_path(booking), method: :post unless booking.status == "cancelled" || booking.status == "complete" %>
      <% if booking.status == "cancelled" || booking.status == "complete" %>
      <%= link_to "Remove", booking_path(booking.id), method: :delete %>
      <% end %>
      <br>
      <br>
      <br>
    <% end %>
<% end %>
