<!-- Display all the users bookings -->

<h1>USER BOOKINGS</h1>

  <% @user_bookings.each do |booking| %>
  <p> Price: <%= booking.teacher.hourly_price %></p>
<p> Start Time: <%= booking.start_time %></p>
  <p> End Time: <%= booking.end_time %></p>
  <% end %>





<h1>TEACHER BOOKINGS</h1>
 <%= @teacher_bookings.each do |booking|%>
 <%= booking.start_time %>
 <%= booking.end_time %>
 <%= booking.user %>
 <% end %>


