<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.ctfassets.net/k428n7s2pxlu/1aJnbCcUvAa4qiIg4kMeI/9c93dd78ff2c7c5ffbff3e14f5878a87/6-reasons-for-pair-programming.jpg');">
  <div class="banner-content">
    <h1>Off The Wagon</h1>
    <h3>Ask a TA what the fuck is happening after Le Wagon is done!</h3>
    <p>Search for:</p>
    <!-- Create link to index page, input button class and transfer skill via query -->

    <a class="btn btn-primary btn-lg" href=" <%= teachers_path %>?query=ruby">Ruby</a>
    <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=javascript">JavaScript</a>
    <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=python">Python</a>
    <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=c">C</a>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <!-- List showing all teachers -->
    <h1>Best Teachers</h1>
    <ul>
      <div class="row">
        <% @teachers.each do |teacher| %>
          <div class="col-xs-4">
            <li>
              <%=link_to teacher, teacher_path(teacher) %>
            </li>
          </div>
      <% end %>
      </div>
    </ul>
    <!-- End of list showing all teachers -->

    <!-- List showing all Skills -->
    <h1>Most searched for Skills</h1>
    <ul>
      <div class="row">
        <% @skills.each do |skill| %>
          <div class="col-xs-4">
            <li>
              <%= skill %>
            </li>
          </div>
      <% end %>
      </div>
    </ul>

    <!-- End of list showing all Skills -->


  </div>
</div>
