<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.ctfassets.net/k428n7s2pxlu/1aJnbCcUvAa4qiIg4kMeI/9c93dd78ff2c7c5ffbff3e14f5878a87/6-reasons-for-pair-programming.jpg');">
  <div class="banner-content">
    <h1>Off The Wagon</h1>
    <h3><span id="banner-typed-text"></span></h3>
    <!-- Ask a TA what the fuck is happening after Le Wagon is done! -->
    <p>Search for</p>
    <!-- Create link to index page, input button class and transfer skill via query -->
    <form action="<%= teachers_path %>?query=">
      <div class="form-group">
          <input id="home_input" class="form-control" name="query" type="text" placeholder="'Ruby', 'Teacher Name'"/>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

    <!-- List showing all Skills -->
        <div class="search_buttons">
        <h1>Filter by skills</h1>

        <a class="btn btn-primary btn-lg" href=" <%= teachers_path %>?query=ruby">Ruby</a>
        <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=javascript">JavaScript</a>
        <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=python">Python</a>
        <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=c">C</a>
        <a class="btn btn-primary btn-lg"  href=" <%= teachers_path %>?query=swift">Swift</a>
        </div>
    <!-- End of list showing all Skills -->

<div class="wrapper">
  <div class="container">
    <h1>Best Teachers</h1>
    <!-- List showing all teachers -->
    <div class="row">
      <% @teachers.each do |teacher| %>
      <div class="col-xs-4">
        <% skills = TeacherSkill.where(teacher_id: teacher.id) %>
        <% top_skill = skills.order('level DESC').first.try(:name) %>

        <%= link_to teacher_path(teacher) do %>

          <div class="card <%#= top_skill %>">
            <div class="block-1">

              <div class="skills">
                <%= top_skill %>
              </div>

              <div class="image-wrapper">
                <div class="<%= top_skill %> "></div>
              </div>


              <% if teacher.user.photo != nil %>
              <%= image_tag teacher.user.photo, class: 'avatar' %>
              <% else %>
              <%= image_tag 'https://res.cloudinary.com/dftybtoej/image/upload/v1542030994/empty_profile.jpg', class: 'avatar' %>
              <% end %>

              <!-- <a class="card-link" href="<%= teacher_path(teacher) %>" ></a> -->
            </div>


            <div class="card-description">
              <div>
                <%= teacher.full_name %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
      <% end %>
    </div>



  </div>
</div>
