<h1>I'm the teacher#show page</h1>

<p>Username: <%= @teacher.user.email %></p>
<p>ID: <%= @teacher.id %></p>
<h3>Skills: <% @teacher_skills.each do |skill| %></h3>
  <p> <%= skill %></p>
<% end %>

<!-- Checks if user is signed in -->
<% if user_signed_in? %>
  <!-- Validates that User cannot book himself -->
  <% if current_user.id == @teacher.user_id %>
      <p><%= link_to 'Edit teacher details', edit_teacher_path %></p>
    <% else %>
      <p><%= link_to 'Book this teacher!', new_teacher_booking_path(@teacher) %></p>
  <% end %>

<!-- Show Book this teacher if User is not logged in to redirect him to sign up -->
<% else %>
  <p><%= link_to 'Book this teacher!', new_teacher_booking_path(@teacher) %></p>
<% end %>

<p><%= link_to 'Go Back to home page', root_path %> </p>
