<div class="wrapper">
  <div class="container text-center">
    <h1> <%= @teacher.full_name %> </h1>
    <div class="row">
      <p>Teacher ID: <%= @teacher.id %></p>
      <p>Skills:</p>
      <% @teacher_skills.each do |skill| %>
        <p>Name: <%= skill.name %> ||| Level: <%= skill.level %>  <%= link_to "delete", teacher_teacher_skill_path(skill), method: :delete %> </p>
      <% end %>
      <%=  render 'teacher_skills/form' %>
    </div>
  </div>
</div>


<!-- Checks if user is signed in -->
<% if user_signed_in? %>
  <!-- Validates that User cannot book himself -->
  <% if current_user.id == @teacher.user_id %>
      <p><%= link_to 'Edit teacher details', edit_teacher_path %></p>
    <% else %>
      <p><%= link_to 'Book this teacher!', new_teacher_booking_path(@teacher) %></p>
  <% end %>

<!-- Show Book this teacher if User is not logged in to redirect him to sign up -->
<% else %>
  <p><%= link_to 'Book this teacher!', new_teacher_booking_path(@teacher) %></p>
<% end %>

<p><%= link_to 'Go Back to home page', root_path %> </p>
