<div class="wrapper">

<div class="container text-center">
  <div class="profile_card">
    <h1><%= @teacher.full_name %></h1>
    <% if @teacher.user.photo != nil %>
    <%= image_tag @teacher.user.photo, class: "profile_photo" %>
    <% else %>
    <%= cl_image_tag @teacher.photo, height: 300, width: 400, crop: :fill %>
    <% end %>

  <h3>Skills:</h3>
   <% @teacher_skills.each do |skill| %>
    <h4 class="skill"><%= skill.name.capitalize %></h4>
    <% level = "" %>
    <% case skill.level %>
      <% when 1 then level="Fresher" %>
      <% when 2 then level="Intermediate" %>
      <% when 3 then level="Knight" %>
      <% when 4 then level="Baws" %>
      <% when 5 then level="God" %>
    <% else level="wtf?" %>
    <% end %>
    <p><%= level.capitalize %>
      <% if user_signed_in? %>
        <% if @teacher.user.id == current_user.id || current_user.admin %>
            <%= link_to "delete", teacher_teacher_skill_path(@teacher, skill), method: :delete  %>
        <% end %>
      <% end %>
    </p>

  <% end %>
  <% if user_signed_in? %>
    <% if @teacher.user.id == current_user.id || current_user.admin %>
      <%=  render 'teacher_skills/form' %>
    <% end %>
  <% end %>



<!-- For admin -->



<!-- Checks if user is signed in -->
<% if user_signed_in? %>
  <%= link_to "Destroy this biaaaatch", teacher_path(@teacher), method: :delete  if current_user.admin %>
  <!-- Validates that User cannot book himself -->
  <% if current_user.id == @teacher.user_id %>
      <p><%= link_to 'Edit teacher details', edit_teacher_path %></p>
  <% else %>
      <p><%= link_to 'Book this teacher!', new_teacher_booking_path(@teacher) %></p>
  <% end %>

<!-- Show Book this teacher if User is not logged in to redirect him to sign up -->
<% else %>
  <p><%= link_to 'Book this teacher!', new_user_session_path %></p>
<% end %>

<p><%= link_to 'Go Back to home page', root_path %> </p>
</div>
</div>
