<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <div class="main-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>


      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= javascript_pack_tag "map" %>


    </div>
      <footer>
        <p>
          Created by the <b>Dream Team</b> @LeWagon, Bali, Indo
        </p>
      </footer>

  </body>
</html>


